/* Макет */
/*.body{
    background-color: silver;
}

header, footer, menyBlock {
    border: 2px solid rgb(0, 0, 0);
    width: 90%;
    height: 30px;
    margin: 10px;
    padding: 5px;
    padding-bottom: 10px;
    float: left;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    float: left;
    font-size: 20px;
    font-weight: bold;
    line-height: 35px;
}

#leftBlock, #infoBlock, #rightBlock{
    border: 2px solid rgb(0, 0, 0);
    margin: 10px;
    padding: 5px;
    padding-bottom: 10px;
    float: left;
    margin-left: 0.5%;
    margin-right: 0.5%;
    text-align: center;
    float: left;
    font-size: 20px;
    font-weight: bold;
    line-height: 196px;
}

#leftBlock {
    margin-left: 5%;
    width: 20%;
    height: 200px;
}

#infoBlock {
    width: 46.5%;
    height: 200px;
}

#rightBlock {
    margin-right: 4%;
    width: 20%;
    height: 200px;
}

/* Банер фотографії ////////////////////////////////////////////////////////*/
*{
    margin: 0;
    padding: 0;
    border: 0;
}

.banner{
width: 100%;
display: flex;
align-items: center;
justify-content: center;
min-height: 80vh;
margin-top: -30px;
transition: none;
background-image: url(ChaseAtlantic/CHASE_ATLANTIC.jpg);
background-repeat: no-repeat;
background-size: 100% auto;
background-position: center;
margin-bottom: 40px; 
}

/* Меню //////////////////////////////////////////////////////////////////////*/
* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 95%;
  top: 0; right: 0;
  z-index: 1000;
  align-items: center;
  background: #226f9bfd;
  padding: 17px 3%;
  box-shadow: 5px 5px 5px #195274fd; 
  transition: 0.2s;
}

.logo {
  display: inline-block;
  vertical-align: middle;
}

.textbox {
  display: inline-block;
  vertical-align: middle;
  margin-left: 1150px;
}

.textbox li {
  margin-right: 50px;
  display: inline-block;
  vertical-align: middle;
}

.textbox a {
  vertical-align: middle;
  font-family: 'Anton', sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 23px;
  color: #ffffff;
  text-decoration: none;
}

.textbox a:hover {
  color: #74c6f5fd;
}

.logo h1 {
  font-family: 'Anton', sans-serif;
  font-size: 25.5px;
  vertical-align: middle;
  color: #ffffff;
  font-style: italic;
}


/* Стилі тексту //////////////////////////////////////////////////////////////*/

form {
  width: 60%;
  margin: 0 auto; /* Вирівнювання форми по центру сторінки */
}

form ol {
  padding-left: 20px;
  text-align: left; /* Вирівнювання списку по лівій стороні */
}

form li {
  margin-bottom: 15px;
}

form b {
  display: block;
  margin-bottom: 5px;
}

form input[type="radio"] {
  margin-right: 10px;
}

form input[type="text"] {
  margin-right: 10px;
}

form .center {
  text-align: center; /* Центрування елементів всередині блоку */
}

textarea[name="s1"] {
  width: 100%;
  box-sizing: border-box; /* Вирівнювання textarea */
}

p {
  text-align: center; /* Центрування абзаців */
}


/*////////////////////////////////////////////*/
p{
  font-size: 25px;
  font-family: 'Times New Roman', serif;
  color: #000000;
}

b{
  color: #032538fd;
}

h2{
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
}


.text-justify{
  text-align: justify;
  line-height: 1.5;
}

.firstBlock_main{
display: flex;
margin-bottom: 20px;
}

/* Блоки */
#leftBlock, #rightBlock {
  height: 60px;
  padding: 0px;
  margin: 5px;
  float: left;
  left: 50%;
}

/* блок для головної сторінки, а точніше для тексту*/
#infoBlock1{
  width: 51%; /* Змінив ширину, щоб вона була рівною в гугл версії */
  padding: 80px;
  margin: 0 auto; /* Центруємо блок горизонтально */
  margin-top: -55px;

}

#infoBlock {
  width: 63%; /* Змінив ширину, щоб вона була рівною в гугл версії */
  padding: 80px;
  margin: 0 auto; /* Центруємо блок горизонтально */
  margin-top: -55px;
}

#leftBlock{
  width: 2%;
}

#rightBlock {
  width: 2%;
}

/*Для головної сторінки /////////////////////////////////////////////////////////*/

video{
  width: 100%; 
}

.secondBlock_main{
  margin-top: 40px; /* Налаштуйте значення відступу */
  justify-content: center;
  display: flex;
}


/* соц.мережі //////////////////////////////////////////////////////////////*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
}

footer{
  text-align: center;
  background: #226f9bfd;
  width: 94%;
  top: 0; right: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:20px 3%;
  transition: 0,2s;
}
.share{
  padding: 15px 0;
  display: flex;
  justify-content: center;
  margin-right: 8px;
}
.share a{
  width: 65px; /* ширина квадрату*/
  height: 65px; /* висота квадрату */
  margin-left: 20px;
  text-decoration: none;
  color: #fff4f4;
  font-size: 30px; /* розмір іконки */
  border: 1.5px solid #fff4f4;
  display: flex;
  align-items: center; 
  justify-content: center;
  border-radius: 50%;
}
.share a:hover{
  color: #071d29fd;
  background:  #fff4f4;
}
.whitep{
  margin-top: 10px;
  color: #fff4f4;
}

/* Мерч ////////////////////////////////////////////////////////////////////////////////////////*/
.Block_merch{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
  margin-bottom: 2px;
}
.merch--title{
  display: inline-block;
  text-align: center;
  align-items: center; 
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: -12px;
}
.merch-container1, .merch-container2, .merch-container3, .merch-container4, .merch-container5, .merch-container6{
  overflow: hidden; 
  width: 400px;
  height: 380px;
}

.merch_picture1, .merch_picture2, .merch_picture3, .merch_picture4, .merch_picture5, .merch_picture6{
  width: 90%;
  height: 100%;
  transition: transform 0.2 ease;
}

.merch--title:hover .merch_picture1{
  transform: scale(1.05);
}
.merch--title:hover .merch_picture2{
  transform: scale(1.05);
}
.merch--title:hover .merch_picture3{
  transform: scale(1.05);
}
.merch--title:hover .merch_picture4{
  transform: scale(1.05);
}
.merch--title:hover .merch_picture5{
  transform: scale(1.05);
}
.merch--title:hover .merch_picture6{
  transform: scale(1.05);
}

.merch--title a{
  text-decoration: none;
}
.merch--title a:hover{
  color: #000000fd;
  text-decoration: underline;
}

 /* Альбоми //////////////////////////////////////////////////////////////////////////////////////*/
 .firstBloc_albums, .secondBlock_albums, .thirdBlock_albums{
  display: inline-block;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
  margin-bottom: 2px;
}

.music_title{
  margin: 30px 0;
  text-align: center;
}

.albums--title{
  display: inline-block;
  text-align: center;
  align-items: center; 
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: -12px;
}

.albums-container{
  overflow: hidden; 
  width: 330px;
  height: 300px;
}

.albums_picture{
  width: 90%;
  height: 100%;
  transition: transform 0.2 ease;
}

.albums--title:hover .albums_picture{
  transform: scale(1.05);
}

.albums--title a{
  text-decoration: none;
}

.albums--title a:hover{
  color: #000000fd;
  text-decoration: underline;
}

/* Фотоальбом //////////////////////////////////////////////////////////////////////////////*/
.Block_gallery{
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.container{
  position: relative;
  width: 85%;
  padding-bottom: 80%;
}

.slide_img{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; 
}

.slide_img img{
  width: 80%;
  height: 100%;
}

#i1, #i2, #i3, #i4, #i5, #i6, #i7, #i8, #i9{
  display: none;
}

.pre, .nxt{
  width: 9.5%;
  height: 10%;
  position:absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #ffffff00;
  z-index: 99;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center; 
  border-radius: 50%;
  border: solid 0.5px #000000fd;
  margin: -5px;
  overflow: hidden; 
}

.pre img, .nxt img{
  width: 50%;
  height: auto;
  transition: transform 0.2s ease; 
}

.pre:hover img, .nxt:hover img{
  transform: scale(1.1);
}

.pre:hover, .nxt:hover{
  background: #ffffffc4;
  border: solid 0.5px #fffffffd
}

.pre{
  left: 0;
}

.nxt{
  right: 0;
}

.nav{
  width: 100%;
  height: 11px;
  bottom: 7%;
  position: absolute;
  text-align: center;
  z-index: 99;
}

.dots{
  top: -5px;
  width: 20px;
  height: 20px;
  margin: 0 4px;
  position: relative;
  border-radius: 50%;
  display: inline-block;
  background: rgba(179, 179, 179, 0.445);
}

.slide_img{
  z-index: -1;
}

/* Встановлення z-index для поточного слайда і відповідної точки навігації */
#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three,
#i4:checked ~ #four,
#i5:checked ~ #five,
#i6:checked ~ #six,
#i7:checked ~ #seven,
#i8:checked ~ #eight,
#i9:checked ~ #nine {
    z-index: 20;
}
/* Підсвічування відповідної точки навігації під час вибору зображення */
#i1:checked ~ .nav #dot1,
#i2:checked ~ .nav #dot2,
#i3:checked ~ .nav #dot3,
#i4:checked ~ .nav #dot4,
#i5:checked ~ .nav #dot5,
#i6:checked ~ .nav #dot6,
#i7:checked ~ .nav #dot7,
#i8:checked ~ .nav #dot8,
#i9:checked ~ .nav #dot9{
    background: #ffffffa8;
}